.header {
  width: 100%;
  display: flex;

  // h1的空間致中
  .header-img-area {
    width: 20%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    button {
      img {
        width: 50px;
        transition: transform 0.1s ease;
        height: 50px;
      }
      &:hover {
        img {
          transform: scale(1.1); /* 按比例放大图像 */
        }
      }
    }
  }
  .logOut-area {
    position: absolute;
    top: 4%;
    right: 10px;
    button {
    }
  }
}
