.header {
  width: 100%;
  /* background: rgb(121, 9, 9);
        background: -moz-linear-gradient(90deg, rgba(121, 9, 9, 0.6532738095238095) 0%, rgba(0, 255, 106, 0.2583158263305322) 89%, rgba(0, 9, 36, 0.3535539215686274) 100%);
        background: -webkit-linear-gradient(90deg, rgba(121, 9, 9, 0.6532738095238095) 0%, rgba(0, 255, 106, 0.2583158263305322) 89%, rgba(0, 9, 36, 0.3535539215686274) 100%);
        background: linear-gradient(90deg, rgba(121, 9, 9, 0.6532738095238095) 0%, rgba(0, 255, 106, 0.2583158263305322) 89%, rgba(0, 9, 36, 0.3535539215686274) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#790909", endColorstr="#000924", GradientType=1); */
  background-color: wheat;
  border: 2px solid black;
  display: flex;
  // 空推
  .header-left-area {
    width: 20%;
  }
  // h1的空間致中
  .header-h1-area {
    width: 80%;
    h1 {
      margin: 0;
      padding: 20px;
      text-align: center;
    }
  }
}
