<div class="Page-area">
    <h2>庫存查詢</h2>
    <div class="Page-area-child">
        <!-- 一橫 -->
        <div class="Page-area-child-area-col">
            <div class="Page-area-child-area">
                <div class="Page-area-child-area-1">
                    <p>進貨單號</p>
                </div>
                <div class="Page-area-child-area-1">
                    <input type="text">
                </div>
            </div>
            <div class="Page-area-child-area">
                <div class="Page-area-child-area-1">

                    <button type="button" class="btn btn-success">查詢</button>
                </div>

            </div>
        </div>
        <!-- 一橫 -->
        <!-- 中間的標頭 -->
        <div class="Page-area-child-area-col">
            <div class="Page-area-child-area-2 Page-area-child-area-2-1">
                <div class="Page-area-child-area-2-p">
                    <p>單號</p>
                </div>
            </div>
            <div class="Page-area-child-area-2 Page-area-child-area-2-2">
                <div class="Page-area-child-area-2-p">
                    <p>總金額</p>
                </div>
            </div>
            <div class="Page-area-child-area-2 Page-area-child-area-2-3">
                <div class="Page-area-child-area-2-p">
                    <p>單價</p>
                </div>
            </div>
            <div class="Page-area-child-area-2 Page-area-child-area-2-4">
                <div class="Page-area-child-area-2-p">
                    <p>金額</p>
                </div>
            </div>
            <div class="Page-area-child-area-2 Page-area-child-area-2-5">
                <div class="Page-area-child-area-2-6-btn">

                </div>
            </div>
        </div>

        <!-- 中間的標頭底下的th底下的tr-->
        <div class="Page-area-child-area-col">
            <div class="Page-area-child-area-2 Page-area-child-area-2-1">
                <div class="Page-area-child-area-2-p">
                    <p>A001</p>
                </div>
            </div>
            <div class="Page-area-child-area-2 Page-area-child-area-2-2">
                <div class="Page-area-child-area-2-p">
                    <p>res1</p>
                </div>
            </div>
            <div class="Page-area-child-area-2 Page-area-child-area-2-3">
                <div class="Page-area-child-area-2-p">
                    <p>res2</p>

                </div>
            </div>
            <div class="Page-area-child-area-2 Page-area-child-area-2-4">
                <div class="Page-area-child-area-2-p">
                    <p>res3</p>
                </div>
            </div>
            <div class="Page-area-child-area-2 Page-area-child-area-2-5">
                <div class="Page-area-child-area-2-6-btn">
                    <button type="button" class="btn btn-primary">修改</button>
                    <button type="button" class="btn btn-danger">刪除</button>
                </div>
            </div>
        </div>

    </div>
</div>