<div class="Page-area">
    <h2>庫存新增</h2>
    <div class="Page-area-child">
        <!-- 一橫 -->
        <div class="Page-area-child-area-col">
            <div class="Page-area-child-area">
                <div class="Page-area-child-area-1">
                    <p>廠商編號</p>
                </div>
                <div class="Page-area-child-area-1">
                    <input type="text">
                </div>
            </div>
            <div class="Page-area-child-area">
                <div class="Page-area-child-area-1">
                    <p>產品單號</p>
                </div>
                <div class="Page-area-child-area-1">
                    <input type="text">
                </div>
            </div>
        </div>
        <!-- 一橫 -->
        <div class="Page-area-child-area-col">
            <div class="Page-area-child-area">
                <div class="Page-area-child-area-1">
                    <p>產品分類</p>
                </div>
                <div class="Page-area-child-area-1">
                    <input type="text">
                </div>
            </div>
            <div class="Page-area-child-area">
                <div class="Page-area-child-area-1">
                    <p>進貨編號</p>
                </div>
                <div class="Page-area-child-area-1">
                    <input type="text">
                </div>
            </div>
        </div>
        <!-- 一橫 -->
        <div class="Page-area-child-area-col">
            <div class="Page-area-child-area">
                <div class="Page-area-child-area-1">
                    <p>req</p>
                </div>
                <div class="Page-area-child-area-1">
                    <input type="text">
                </div>
            </div>
            <div class="Page-area-child-area">
                <div class="Page-area-child-area-1">
                    <p>req</p>
                </div>
                <div class="Page-area-child-area-1">
                    <input type="text">
                </div>
            </div>
        </div>
        <!-- 一橫 -->
        <!-- 中間的標頭 -->
        <div class="Page-area-child-area-col">
            <div class="Page-area-child-area-2 Page-area-child-area-2-1">
                <div class="Page-area-child-area-2-p">
                    <p>項目</p>
                </div>
            </div>
            <div class="Page-area-child-area-2 Page-area-child-area-2-2">
                <div class="Page-area-child-area-2-p">
                    <p>數量</p>
                </div>
            </div>
            <div class="Page-area-child-area-2 Page-area-child-area-2-3">
                <div class="Page-area-child-area-2-p">
                    <p>單價</p>
                </div>
            </div>
            <div class="Page-area-child-area-2 Page-area-child-area-2-4">
                <div class="Page-area-child-area-2-p">
                    <p>金額</p>
                </div>
            </div>
            <div class="Page-area-child-area-2 Page-area-child-area-2-5">
                <div class="Page-area-child-area-2-6-btn">
                    <button type="button" class="btn btn-dark">+</button>
                </div>
            </div>
        </div>
        <!-- 中間的標頭底下的th -->
        <div class="Page-area-child-area-col">
            <div class="Page-area-child-area-2 Page-area-child-area-2-1">
                <div class="Page-area-child-area-2-p">
                    <input type="text" #inputPurchase>
                </div>
            </div>
            <div class="Page-area-child-area-2 Page-area-child-area-2-2">
                <div class="Page-area-child-area-2-p">
                    <input type="text" #inputPurchase>

                </div>
            </div>
            <div class="Page-area-child-area-2 Page-area-child-area-2-3">
                <div class="Page-area-child-area-2-p">
                    <input type="text" #inputPurchase>

                </div>
            </div>
            <div class="Page-area-child-area-2 Page-area-child-area-2-4">
                <div class="Page-area-child-area-2-p">
                    <input type="text" #inputPurchase>

                </div>
            </div>
            <div class="Page-area-child-area-2 Page-area-child-area-2-5">
                <div class="Page-area-child-area-2-6-btn">
                </div>
            </div>
        </div>
        <!-- 中間的標頭底下的th底下的tr-->
        <div class="Page-area-child-area-col">
            <div class="Page-area-child-area-2 Page-area-child-area-2-1">
                <div class="Page-area-child-area-2-p">
                    <p>A項目 ps.按+號後會往這裡添加</p>
                </div>
            </div>
            <div class="Page-area-child-area-2 Page-area-child-area-2-2">
                <div class="Page-area-child-area-2-p">
                    <p>1</p>

                </div>
            </div>
            <div class="Page-area-child-area-2 Page-area-child-area-2-3">
                <div class="Page-area-child-area-2-p">
                    <p>100</p>

                </div>
            </div>
            <div class="Page-area-child-area-2 Page-area-child-area-2-4">
                <div class="Page-area-child-area-2-p">
                    <p>100</p>
                </div>
            </div>
            <div class="Page-area-child-area-2 Page-area-child-area-2-5">
                <div class="Page-area-child-area-2-6-btn">
                    <button type="button" class="btn btn-primary">修改</button>
                    <button type="button" class="btn btn-danger">刪除</button>
                </div>
            </div>
        </div>
        <!-- 總計欄位-->
        <div class="Page-area-child-area-col">
            <div class="Page-area-child-area-3 Page-area-child-area-3-1">
                <div class="Page-area-child-area-3-p">
                    <p>合計</p>
                </div>
            </div>
            <div class="Page-area-child-area-3 Page-area-child-area-3-2">
                <div class="Page-area-child-area-3-p">
                    <p>100</p>
                </div>
            </div>
            <div class="Page-area-child-area-3 Page-area-child-area-3-3">
                <div class="Page-area-child-area-3-3-btn">

                </div>
            </div>
        </div>
        <!-- 總計欄位-->
        <div class="Page-area-child-area-col">
            <div class="Page-area-child-area-3 Page-area-child-area-3-1">
                <div class="Page-area-child-area-3-p">
                    <p>折扣</p>
                </div>
            </div>
            <div class="Page-area-child-area-3 Page-area-child-area-3-2">
                <div class="Page-area-child-area-3-p">
                    <p>100</p>
                </div>
            </div>
            <div class="Page-area-child-area-3 Page-area-child-area-3-3">
                <div class="Page-area-child-area-3-3-btn">

                </div>
            </div>
        </div>
        <!-- 總計欄位-->
        <div class="Page-area-child-area-col">
            <div class="Page-area-child-area-3 Page-area-child-area-3-1">
                <div class="Page-area-child-area-3-p">
                    <p>稅額</p>
                </div>
            </div>
            <div class="Page-area-child-area-3 Page-area-child-area-3-2">
                <div class="Page-area-child-area-3-p">
                    <p>100</p>
                </div>
            </div>
            <div class="Page-area-child-area-3 Page-area-child-area-3-3">
                <div class="Page-area-child-area-3-3-btn">

                </div>
            </div>
        </div>
        <!-- 總計欄位-->
        <div class="Page-area-child-area-col">
            <div class="Page-area-child-area-3 Page-area-child-area-3-1">
                <div class="Page-area-child-area-3-p">
                    <p>總計</p>
                </div>
            </div>
            <div class="Page-area-child-area-3 Page-area-child-area-3-2">
                <div class="Page-area-child-area-3-p">
                    <p>100</p>
                </div>
            </div>
            <div class="Page-area-child-area-3 Page-area-child-area-3-3">
                <div class="Page-area-child-area-3-3-btn">
                </div>
            </div>
        </div>
        <!-- 總計欄位-->
        <div class="Page-area-child-area-col">
            <div class="Page-area-child-area-3 Page-area-child-area-3-1">
                <div class="Page-area-child-area-3-p">

                </div>
            </div>
            <div class="Page-area-child-area-3 Page-area-child-area-3-2">
                <div class="Page-area-child-area-3-p">

                </div>
            </div>
            <div class="Page-area-child-area-3 Page-area-child-area-3-3">
                <div class="Page-area-child-area-3-3-btn">
                    <button type="button" class="btn btn-primary">送出</button>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- <button type="button" class="btn btn-dark" (click)="addPurchase()">+</button> -->