.select {
  display: none;
}

.show .select {
  /* 當選單被顯示時再將其顯示出來 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BodyPage {
  width: 100vw;
  height: 100vh;
  // background-color: gold;
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210101/pngtree-watercolor-simple-clean-background-image_525989.jpg");
  background-size: cover; /* 图片等比例缩放以填充容器 */
  background-position: center; /* 图片在容器中居中显示 */
  background-repeat: no-repeat; /* 防止图片重复显示 */
}

.bodyPage-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.output-area {
  width: 100%;
  display: flex;

  .login-area-right {
    width: 100%;
  }
}

.right {
  width: 80%;
  // background-color: antiquewhite;
  display: flex;
  justify-content: center;
  background-image: url("https://st4.depositphotos.com/13264288/22942/v/600/depositphotos_229424916-stock-illustration-erp-enterprise-resource-planning-productivity.jpg");
  background-size: cover; /* 图片等比例缩放以填充容器 */
  background-position: center; /* 图片在容器中居中显示 */
  background-repeat: no-repeat; /* 防止图片重复显示 */
}

.right-area {
  width: 100%;
}
.login-area {
}
.left {
  width: 20%;
  display: flex;
  justify-content: center;
  // border-left: 2px solid black;
  // border-right: 2px solid black;
  // border-bottom: 2px solid black;
  // background-color: wheat;
  // height: 100%;
}

.left-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // border-right: 2px solid black;
  // background-color: aqua;
  width: 100%;
  // height: 100%;
}

.left-area2 {
  height: 100vh;
  width: 100%;
  // border-right: 2px solid black;
}
.bodyPage-btn {
  margin: 20px auto;
}
