<div class="Page-area">
    <h2>員工修改 </h2>
    <div class="form-body update-form-body">
        <div class="formBody-area1">
            <div class="formBody-area1-input">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">ID</span>
                    <input type="text" class="form-control" placeholder="ID" aria-label="Username"
                        aria-describedby="basic-addon1" [(ngModel)]="pkID">
                </div>
            </div>
        </div>
        <!-- 一個橫欄 -->
        <div class="formBody-area1">
            <div class="formBody-area1-input">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Department</span>
                    <select name="" id="" [(ngModel)]="department">
                        <option value=""></option>
                        <option *ngFor="let item of departmentList" value="{{item}}">{{item}}</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- 一個橫欄 -->
        <div class="formBody-area1">
            <div class="formBody-area1-input">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Name</span>
                    <input type="text" class="form-control" placeholder="Name" aria-label="Username"
                        aria-describedby="basic-addon1" [(ngModel)]="name">
                </div>
            </div>
        </div>
        <!-- 一個橫欄 -->
        <div class="formBody-area1">
            <div class="formBody-area1-input">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Authority</span>

                    <select name="" id="" [(ngModel)]="authority">
                        <option value=""></option>
                        <option value="" *ngFor="let item of authorityList" value="{{item}}">{{item}}</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- 一個橫欄 -->
        <div class="formBody-area1">
            <div class="formBody-area1-input">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <input type="checkbox" name="" id="" [(ngModel)]="showPwdBox" (change)="showPwd()">
                    </span>
                    <span class="input-group-text" id="basic-addon1">PassWord</span>
                    <input type="{{pwdInputType}}" class="form-control" placeholder="PassWord" aria-label="Username"
                        aria-describedby="basic-addon1" [(ngModel)]="pwd">
                </div>
            </div>
        </div>

        <!-- 按鈕區塊 -->
        <div class="formBody-area2">
            <div class="formBody-area2-button">
                <button type="button" class="btn btn-danger"
                    (click)="cancelUpdateEmployeeInfoFunction(false)">取消</button>
            </div>
            <div class="formBody-area2-button">
                <button type="button" class="btn btn-success"
                    (click)="EmployeeService.updateEmployeeApi(pkID,department,name,authority,pwd)">送出</button>
            </div>
        </div>

    </div>


</div>