<div class="Page-area">
    <h3>客戶查詢</h3>
    <div class="input-group">
        <div class="input-area">
            <p>REQ</p>
            <input type="text" name="order-number">
        </div>
        <div class="input-area">
            <p>REQ</p>
            <input type="text" name="order-number">
        </div>
        <div class="input-area">
            <p>REQ</p>
            <input type="text" name="order-number">
        </div>
    </div>

    <button type="button" class="btn btn-primary">送出</button>
</div>
<style>

</style>